@font-face {
    font-family: "Orbitron";
    font-weight: 400;
    font-style: normal;
    src: local('Orbitron Regural'), local('Orbitron-Regural'), url("orbitron/Orbitron-Regular.ttf") format('truetype');
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    color: #fff;
}

body {
    /*background-color: #403e39;*/
    background-color: #3c4043;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    /*padding: 6vw;*/
}

header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin-bottom: 10px;
}

header::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #fff;
}

header h1 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 4rem;
}

header p {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: .6rem 0;
    font-size: 1rem;
}

header p:nth-of-type(1) {
    text-align: left;
}

header p:nth-of-type(2) {
    text-align: right;
}

main {
    position: relative;
    border: solid 2px #fff;
}

main .screen {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

main .screen.active {
    opacity: 1;
    z-index: 1;
}

main .screen p {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 2rem 3rem;
    font-size: 2rem;
}

main .screen p:nth-of-type(1) {
    text-align: right;
}

main .screen p:nth-of-type(2) {
    text-align: left;
}

main canvas {
    display: block;
    /*background-color: #33312d;*/
    background-color: #242628;
}

main .keyboard {
    display: none;
    border-top: solid 2px #fff;
    max-width: 800px;
    width: 100%;
}

button.btn-action {
    border: solid 2px #fff;
    border-radius: .3rem;
    font-size: 2.5rem;
    line-height: 4rem;
    background-color: transparent;
    outline-color: #ddd;
    color: #fff;
}

button.btn-action i {
    padding: 0 3rem;
}

button.btn-arrow {
    border: none;
    border-left: solid 1px #fff;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    color: #fff;
}

button.btn-arrow i {
    padding: 2.5rem;
}

button.btn-arrow:last-child {
    border-right: solid 1px #fff;
}

@media (max-width: 804px) {
    html {
        font-size: 10px;
    }

    header {
        max-width: 600px;
    }

    main .keyboard {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 600px;
    }
}

@media (max-width: 604px) {
    header, main .keyboard {
        max-width: 320px;
    }
}

@media (max-width: 320px) {
    main {
        border-left: none;
        border-right: none;
    }
}
